<div class="col-md-3 col-sm-6 col-xs-12">
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
</div>
<div class="col-md-3 col-sm-6 col-xs-12">
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
  <jenkins-job-widget></jenkins-job-widget>
</div>
