<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="widget">
    <div class="widget-statusicon-container">
            <span class="status-box-icon {{status | jenkinsStatusColor }}">
        <i class="fa {{status | jenkinsStatusIcon}}"></i>
      </span>
    </div>
    <div class="widget-content">
      <!-- Box-Title -->
      <span *ngIf="url" class="info-box-text"><a [href]="url" target="_blank">{{name}}</a></span>
      <span *ngIf="!url" class="info-box-text">{{name}}</span>
      <span class="info-box-number">{{lastBuildNo}}</span>
      <span class="info-box-text">{{this['description']}}</span>
    </div>
    <div class="widget-box-tool">
      <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-trash"></i></button>
      <br/>
      <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-edit"></i></button>
    </div>
  </div>
</div>
