<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="info-box">
    <span class="info-box-icon {{status | jenkinsStatusColor }}"><i class="fa {{status | jenkinsStatusIcon}}"></i></span>
    <div class="info-box-content">
      <span *ngIf="url" class="info-box-text"><a [href]="url" target="_blank">{{name}}</a></span>
      <span *ngIf="!url" class="info-box-text">{{name}}</span>
      <span class="info-box-number">{{lastBuildNo}}</span>
      <span class="info-box-text">{{description}}</span>
    </div><!-- /.info-box-content -->
  </div><!-- /.info-box -->
</div>
