<div class="col-md-3 col-sm-6 col-xs-12">
  <div *ngIf="isSuccessfull()" class="info-box bg-green">
    <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
    <div class="info-box-content">
      <span class="info-box-text">{{name}}</span>
      <span class="info-box-number">10:23 min</span>
      <div class="progress">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
      <span class="progress-description">
        {{status}}
      </span>
    </div><!-- /.info-box-content -->
  </div><!-- /.info-box -->
  <div *ngIf="isUnstable()" class="info-box bg-yellow">
    <span class="info-box-icon"><i class="fa fa-warning"></i></span>
    <div class="info-box-content">
      <span class="info-box-text">{{name}}</span>
      <span class="info-box-number">10:23 min</span>
      <div class="progress">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
      <span class="progress-description">
        {{status}}
      </span>
    </div><!-- /.info-box-content -->
  </div><!-- /.info-box -->
  <div *ngIf="isFailing()" class="info-box bg-red">
    <span class="info-box-icon"><i class="fa fa-times-circle"></i></span>
    <div class="info-box-content">
      <span class="info-box-text">{{name}}</span>
      <span class="info-box-number">10:23 min</span>
      <div class="progress">
        <div class="progress-bar" style="width: 0%"></div>
      </div>
      <span class="progress-description">
        {{status}}
      </span>
    </div><!-- /.info-box-content -->
  </div><!-- /.info-box -->
</div>
