<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a [routerLink]="['/dashboards']" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><i class="fa fa-fw fa-desktop"></i></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>infini</b>board</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<dashboard-sidebar-links></dashboard-sidebar-links>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div><!-- /.content-wrapper -->

<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the right -->
  <div class="pull-right">
    <strong>Version</strong> {{version}}
  </div>
  <!-- Default to the left -->
  <strong>built with <i class="fa fa-heart"></i> by <a
    href="http://github.com/reflectoring">reflectoring</a></strong>
</footer>
