<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="box">
    <div class="box-header">

      <!-- Box-Title -->
      <span *ngIf="titleUrl" class="info-box-text"><a [href]="this['titleUrl']" target="_blank">{{this['title']}}</a></span>
      <span *ngIf="!titleUrl" class="info-box-text">{{this['title']}}</span>

      <!-- Widget-Functions-->
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-trash"></i></button>
      </div>

    </div>
    <div class="box-body">
      <span class="status-box-icon {{status | statusColor }}"><i class="fa {{status | statusIcon}}"></i></span>
      <div class="info-box-content">
        <span class="status-box-number">{{version}}</span>
        <span class="status-box-text">{{this['description']}}</span>
      </div>
    </div>
  </div>
</div>
