<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">Dashboards</li>
      <li><a href="#" data-toggle="modal" data-target="#dashboard-edit-modal"><i class="fa fa-circle-o text-green"></i> <span>Create Dashboard</span></a></li>
      <!-- Optionally, you can add icons to the links -->
      <li *ngFor="let dashboard of dashboards"
          [class.active]="dashboard.active"><a [routerLink]="['/dashboards', dashboard.slug]"><i
        class="fa fa-circle-o text-red"></i>
        <span>{{dashboard.name}}</span></a></li>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>

<!-- Modal -->
<div class="modal fade" id="dashboard-edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New Dashboard</h4>
      </div>
      <div class="modal-body">
        <form action="createDashboard()">
          <div class="form-group">
            <label for="new-dashboard-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="new-dashboard-name" [formControl]="name">
          </div>
          <div class="form-group">
            <label for="new-dashboard-slug" class="control-label">Slug:</label>
            <input type="text" class="form-control" id="new-dashboard-slug" [formControl]="slug">
          </div>
          <div class="form-group">
            <label for="new-dashboard-description" class="control-label">Description:</label>
            <input type="text" class="form-control" id="new-dashboard-description" [formControl]="description">
          </div>
          <div class="form-group">
            <label for="new-dashboard-error" class="control-label">Error:</label>
            <input type="text" class="form-control" id="new-dashboard-error" [formControl]="error">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="this.createDashboard()">Save</button>
      </div>
    </div>
  </div>
</div>
